:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --hover-color: #2196f3;
  --background-color: #FFFFFF;
  --hero-background: #2f303a;
  --hero-color: #ffffff;
  --button-hero-color: #ffffff;
  --backround-button-hero: #2196f3;
  --backround-button-hover: #188ce8;
  --filter-button-backround: #f5f4fa;
  --footer-backround: #2f303a;
}

body {
  background-color: var(--background-color)
  color: var(--primary-text-color);
  font-family: Roboto, sans-serif;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
/* button {
  font-family: inherit;
} */
/* Хедер */
.header {
  background-color: #ffffff;
}
/* Лого */
.logo {
  color: #2196f3;
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
}
.logo-studio {
  color: #212121;
}
/* Навігація */
.pagination a {
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: 0.02em;
}
.pagination a:hover,
.pagination a:focus {
  color: var(--hover-color);
}
.pagination .current {
  color: var(--accent-color);
}
/* Мейл-телефон */
.phone a {
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: 0.02em;
}
.phone a:hover,
.phone a:focus {
  color: var(--hover-color);
}
/* Секція Герой */
.hero {
  background-color: var(--hero-background);
}
.hero-title {
  color: var(--hero-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}
.button-hero {
  color: var(--button-hero-color);
  background-color: var(--backround-button-hero);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  cursor: pointer;
  font-family: Roboto, sans-serif;
}
.button-hero:hover,
.button-hero:focus {
  background-color: var(--backround-button-hover);
}
/* Секція Переваги */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.section-title {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
}
/* Секція чем мы занимаемся */
.caption {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
}
/* Секція Команда */
.team {
  background-color: #f5f4fa;
}
.name {
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
}
.text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
}
/* Секція Футер */
.footer {
  background-color: var(--footer-backround)
}
.logo-footer {
  color: #ffffff;
}
.address a {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  font-style: normal;
}
.map {
  color: #ffffff;
}
.map:hover,
.map:focus {
  color: var(--accent-color);
}
.contacts {
  color: rgba(255, 255, 255, 0.6);
}
.contacts:hover,
.contacts:focus {
  color: var(--accent-color);
}

/* ПОРТФОЛІО */

/* Фільтр */
.filter button {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
  cursor: pointer;
  font-family: Roboto, sans-serif;

  background-color: var(--filter-button-backround)
  border-radius: 4px;
}
.filter .current {
  background-color: var(--accent-color);
  color: #ffffff;
}
.filter button:hover,
.filter button:focus {
  color: #ffffff;
  background-color: var(--hover-color);
}
/* Наші роботи */
.works h2 {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
}
.works p {
  color: var(--primary-text-color);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.9;
}
